# ---- Python virtual environments ----
.venv/
venv/
env/
ENV/
*.env

# ---- Python cache files ----
__pycache__/
*.py[cod]
*$py.class

# ---- Distribution / packaging ----
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ---- Installer logs ----
pip-log.txt
pip-delete-this-directory.txt

# ---- Unit test / coverage ----
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# ---- Jupyter Notebook ----
.ipynb_checkpoints/

# ---- PyCharm / VS Code ----
.idea/
.vscode/

# ---- Environment variables ----
*.env
*.ini

# ---- macOS system files ----
.DS_Store
.AppleDouble
.LSOverride

# ---- Logs ----
*.log

# ---- Local config ----
*.local

